body{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: red;
   font-size: 25;
   border: 10px solid powderblue;
   margin: 20px;
}

h1{
    font-family: Arial;
    font-size: 30;
    color: blue;
}

p {
    border: 5px solid powderblue;
    margin: 10px;
}
		     
